@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.page-transition {
  transition: opacity 220ms ease, transform 220ms ease;
}

.page-transition.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.page-transition.fadeOut {
  opacity: 0;
  transform: translateY(12px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

